[Unit]
Description=firewalld opener with otp

[Service]
ExecStart=uwsgi --ini /var/www/firewalld-opener-with-otp/webSrv.ini
WorkingDirectory=/var/www/firewalld-opener-with-otp

User=firewalld-opener
Group=firewalld-opener

Restart=always
KillMode=mixed
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
